@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';
@import '../bower_components/spinkit/scss/spinners/7-three-bounce';

.modal{
  $base-border-color: #dcdcdc !default;
  $base-border-radius: 3px !default;
  $base-background-color: #fff !default;
  $base-font-size: 1em !default;
  $base-line-height: 1.5em !default;
  $action-color: #477dca !default;
  $dark-gray: #333 !default;
  $light-gray: #ddd !default;
  $medium-screen: 40em !default;
  $large-screen: 53.75em !default;
  $base-font-color: $dark-gray !default;
  $modal-padding: 3em;
  $modal-background: $base-background-color;
  $modal-close-color: $light-gray;
  $modal-image-height: 135px;
  $modal-image-width: $modal-image-height;
  $modal-trigger-image-width: 300px;

  label{
    cursor: pointer;
    margin-bottom: 0;

    img{
      border-radius: $modal-trigger-image-width / 2;
      display: block;
      max-width: $modal-trigger-image-width;
    }
  }

  .modal-state{
    display: none;

    &:checked{
      + .modal-fade-screen{
        opacity: 1;
        visibility: visible;

        .modal-inner{
          top: .5em;
        }
      }
    }
  }

  .modal-trigger{
    padding: .8em 1em;
  }

  .modal-fade-screen{ // overlay
    @include position(fixed, 0);
    @include media($large-screen){
      padding-top: 10em;
    }

    background-color: rgba(#000, .85);
    opacity: 0;
    padding-top: .6em;
    text-align: left;
    transition: opacity .25s ease;
    visibility: hidden;
    z-index: 99999999999;

    .modal-bg{
      @include position(absolute, 0);
      cursor: pointer;
    }
  }

  .modal-close{
    @include position(absolute, ($modal-padding /2) ($modal-padding /2) null null);
    @include size(1.5em);
    background: $modal-background;
    cursor: pointer;

    &::after,
    &::before{
      @include position(absolute, 3px 3px 0 50%);
      @include size(.15em 1.5em);
      background: $modal-close-color;
      content: '';
      display: block;
      margin: -3px 0 0 -1px;
      transform: rotate(45deg);
    }

    &:hover{
      &::after,
      &::before{
        background: darken($modal-close-color, 10%);
      }
    }

    &::before{
      transform: rotate(-45deg);
    }
  }

  .modal-inner{
    @include media($medium-screen){
      max-height: 70%;
      padding: $modal-padding;
      width: 60%;
    }

    @include media($large-screen){
      width: 50%;
    }

    background: $modal-background;
    border-radius: $base-border-radius;
    margin: auto;
    margin-top: 0;
    max-height: 95%;
    overflow: auto;
    padding: $modal-padding / 2;
    position: relative;
    transition: opacity .25s ease;
    width: 95%;

    .modal-content{

    }
  }
}

.modal-open{
  overflow: hidden;
}

// Based on code by Kasper Mikiewicz
